{% extends 'base.html' %}
{% block title %}Группа {{ group.title }}{% endblock%}
{% block content %}
<div class="container col-lg-11 col-sm-12">
<h1> {{ group.title }} </h1>
<p>{{ group.description | linebreaksbr }}</p>
{% for post in posts %}
<article>
  <ul>
    <li>
      <p>Автор: {{ post.author.get_full_name }}</p>
    </li>
    <li>
      <b>Дата публикации:</b> {{ post.pub_date|date:"d E Y" }}
    </li>
  </ul>
<p>
  {{ post.text | linebreaksbr }}
</p>
</article>
{% if not forloop.last %}
<hr>
{% endif %}
{% endfor %}
{% include 'posts/includes/paginator.html' %}
{% endblock %}
</div>